{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>About Us</title>
  </head>
  <style>
    body{
      padding: 25px;
    }
    h1{
      text-align: center;
    }
    
  </style>
  <body>
  
    <h1 class="text-center">About Us</h1>
  
    <!--Write some content for About Us page-->
    <p>
      We are a team of passionate book lovers who want to share our enthusiasm for reading with the world. We believe that books are not only a source of entertainment, but also a way of learning, exploring, and growing. That’s why we created this website, where you can find reviews, recommendations, and discussions on books of all genres and topics.

Our goal is to help you discover new books that match your interests and preferences, as well as to inspire you to read more and better. Whether you are looking for a thrilling mystery, a heartwarming romance, a thought-provoking nonfiction, or anything in between, we have something for you. You can also join our online community of readers, where you can share your opinions, insights, and questions with other book lovers.

We hope that you enjoy browsing our website and finding your next favorite book. Happy reading! 😊
    </p>
  </body>
</html>
